main {
  flex: 1; /* Allows the main content to take up all available space, pushing the footer down */
}

.footer {
  background-color: #333; /* Dark background for the footer */
  color: white; /* Text color */
  text-align: center; /* Center text */
  padding: 1rem; /* Padding */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* For letter spacing */
body {
  letter-spacing: 0.05em; /* Adjust this value as needed */
  line-height: 1.4; /* Adjust this value for more spacing between lines */
}

/* For spacing between letters in headings */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.07em; /* Adjust this value as needed */
}

/* For spacing between letters in paragraphs */
p {
  letter-spacing: 0.05em; /* Adjust this value as needed */
  line-height: 1.5; /* Adjust this value for more spacing between lines */
}

/* For spacing between letters in links */
a {
  letter-spacing: 0.05em; /* Adjust this value as needed */
}

.about-me {
  padding: 4rem 1rem; /* Adjust padding as needed */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
  color: #f0f0f0;
  text-align: center;
  width:100%;
}

.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-content {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2rem; /* Adjust padding as needed */
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.about-content p {
  font-size: 1.2rem;
  margin: 0;

}

